:root {
    --primary-text-color: #434455;
    --secondary-text-color: #2E2F42;
    --background-color: #ffffff;
    --change-color-link: #4D5AE5;
    --change-color-button: #404BBF;
    --secondary-background-color: #F4F4FD;
    --third-text-color: #E7E9FC;
    --light-slate: #8E8F99;
    --green-color: #31D0AA;
}

body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-no-padding {
    padding-top: 0px;
}

.especialy-padding {
    padding-top: 96px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Хедер */
.menu-nav {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header {
    border-bottom: 1px solid var(--third-text-color);
}

/* Навигация */
.navigation {
    display: flex;
}

.navigation-link {
    position: relative;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding-top: 27px;
    padding-bottom: 27px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--change-color-link);
}

.navigation-link.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--change-color-link);
}

.active {
    color: var(--change-color-link);
}

.navigation-list {
    display: flex;
    margin-left: 76px;
}

.navigation-list .item:not(:last-child) {
    margin-right: 40px;
}

/* Контакты навигации */
.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
}

.contacts-list .item:not(:first-child) {
    margin-left: 40px;
}

.contacts-link {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--change-color-link);
}

/* Секция hero */

.hero-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: var(--background-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    width: 494px;
}

.hero-button {
    border-color: var(--change-color-link);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--change-color-link);
    color: var(--background-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;

    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--change-color-button);
    border-color: var(--change-color-button);
}

.overlya {
    background-color: var(--secondary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/background-hero.jpg")
}

/* Секция слоган */
.slogan-list-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 8px;
}

.slogan-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
}

.slogan-list {
    display: flex;
    column-gap: 24px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    margin-bottom: 8px;
    border-radius: 4px;
    width: 264px;
    height: 112px;
}

.icon-decoration {
    width: 64px;
    height: 64px;
}

/* Секция примеры работ */
.works-list {
    display: flex;
    column-gap: 24px;
}

.works-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 72px;
}

.works-list>.item>img {
    border: 1px solid var(--third-text-color);
}

/* Секция наша команда */

.team {
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    background-color: var(--secondary-background-color);
    max-width: 1440px;
    height: 770px;
}

.team-list {
    display: flex;
    column-gap: 24px;
}

.team-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 72px;
}

.team-list-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.team-massenger {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
}

.massendger-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--change-color-link);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.massendger-link:hover,
.massendger-link:focus {
    background-color: var(--change-color-button);
}

.icon-massendger {
    width: 16px;
    height: 16px;
}

.team-decoration {
    border-left: 1px solid var(--third-text-color);
    border-right: 1px solid var(--third-text-color);
    border-bottom: 1px solid var(--third-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color);
    padding: 32px 0px;
    width: 264px;
}

.team-list>.item>img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Секция Клиенты */
.customers-list {
    display: flex;
    column-gap: 24px;
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    fill: var(--light-slate);

    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--change-color-button);
    fill: var(--change-color-button);
}

.customers-decoration {
    width: 104px;
    height: 56px;
}

.customers-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 72px;
}

/* Подвал */
.about {
    background-color: var(--secondary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: auto;
}

.about-text {
    color: var(--third-text-color);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-right: auto;
    width: 264px;
}

.footer-decoration {
    display: flex;
    align-items: baseline;
}

.massehger-footer {
    margin-left: 120px;
}

.media-footer {
    display: flex;
    column-gap: 16px;

}

.social {
    margin-bottom: 16px;
    margin-top: 0px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--third-text-color);
    font-size: 16px;
}

.massendger-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-text-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.massendger-link-footer:hover,
.massendger-link-footer:focus {
    background-color: var(--green-color);
}

.icon-massendger-footer {
    width: 24px;
    height: 24px;
}

.subscribe {
    margin-left: 80px;
}

.footer-form {
    display: flex;
}

.footer-email {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--secondary-text-color);
}

.footer-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    margin-left: 24px;
    border-radius: 4px;
    background-color: var(--change-color-link);
    border: none;
    color: var(--background-color);
    cursor: pointer;
    width: 165px;
    height: 40px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--change-color-button);
}


.subscribe-telegram {
    margin-left: 16px;
}

/* Портфолио-примеры работ */
.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.examples-list img {
    display: block;
    max-width: 100%;
    height: auto;
}

.examples-list>.item {
    flex-basis: calc((100% - 48px) / 3);
}

.decoration-text {
    border-left: 1px solid var(--third-text-color);
    border-right: 1px solid var(--third-text-color);
    border-bottom: 1px solid var(--third-text-color);
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
}

.examples-link {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms; */
}

.examples-link:hover,
.examples-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 0.95);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1.5;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    margin: 0;
    overflow: auto;
    transform: translate(0, 100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .overlay-thumb,
.examples-link:focus .overlay-thumb {
    transform: translate(0,0);
}

.examples-title {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.2;
}

.examples-text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

/* Кнопки (портфолио) */
.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    column-gap: 24px;
}

.portfolio-button {
    background-color: var(--third-text-color);
    color: var(--change-color-link);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 12px 24px;
    border-color: var(--third-text-color);
    border: 1px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--change-color-button);
    color: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Логотип */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--change-color-link);
    letter-spacing: 0.03em
}

.logo-studio {
    color: var(--secondary-text-color);
}

.logo-studio-footer {
    color: var(--secondary-background-color);
}

/* Модальное окно */
.backdrop {
    position: fixed;
    display: flex;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px 24px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    height: 604px;
    background-color: var(--background-color);
}

.btn {
    position: absolute;
    margin: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition-property: trabackground-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .btn:hover,
 .btn:focus {
    background-color: var(--change-color-button);
 }

 .name-form {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

 .form-decoration {
    color: #8E8F99;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}


.form-element {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding-left: 42px;
    
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element:focus {
    outline: none;
    border-color: var(--change-color-link);
}

.form-element:focus +svg {
    fill: var(--change-color-link);
}

.accept {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;

}

.accept span {
    text-decoration-line: underline;
    color: var(--change-color-link);
    margin-left: 3px;
}

.modal-btn {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    cursor: pointer;
    width: 169px;
    height: 56px;
    color: var(--background-color);
    background-color: var(--change-color-link);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--change-color-button);
}

.feedback {
    resize: none;
    width: 100%;
    height: 120px;
    padding-left: 16px;
    padding-top: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.icon-form {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 4px;
    margin-bottom: 8px;
}

.icon-form svg {
    position: absolute; 
    left: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visualy {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.user-policy:checked + .accept>.fake-chekbox>svg{
    border-color: var(--change-color-button);
    border-radius: 2px;
    opacity: 1;
}

/* .user-policy:focus+.accept>.fake-chekbox {
    border: none;
    outline: 2px solid var(--change-color-button);
} */

.fake-chekbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
}

.fake-chekbox svg {
    position: absolute;
    opacity: 0;
    align-items: center;
    justify-content: center;
}
